[submodule "sensors/no-OS"]
	path = sensors/no-OS
	url = https://github.com/analogdevicesinc/no-OS.git
[submodule "picolibc/picolibc"]
	path = picolibc/picolibc
	url = https://github.com/FranciscoLlobet/picolibc.git
[submodule "Platform/CMSIS-RTX/CMSIS-RTX"]
	path = Platform/CMSIS-RTX/CMSIS-RTX
	url = https://github.com/FranciscoLlobet/CMSIS-RTX.git
[submodule "Platform/CMSIS_6/CMSIS_6"]
	path = Platform/CMSIS_6/CMSIS_6
	url = https://github.com/FranciscoLlobet/CMSIS_6.git
